.personal {
    padding: 20px;
    width: auto;
    height: auto;
    margin-bottom: 30px;
    text-align: center;

    img {
        display: block;
    }

    p {
        margin: 15px auto;
    }

    button {
        margin: 0.6em auto;
        font-size: 14px;
        background-color: #90caf9;

        &.edit-button {
            display: block;
            background-color: transparent;
            box-shadow: none;
            border: 1px solid #c3c3c3;
            border-radius: 0;
        }
    }
}
