<div
    class="dashboard__pokemons_item text-item"
    [ngStyle]="{
        border: pokemon.damage > 50 ? '2px solid #b71c1c' : '1px dotted #000'
    }"
>
    <button class="edit-button">
        Edit
    </button>
    <h2>
        <a [routerLink]="['/details', pokemon.id]">{{ pokemon.name }}</a>
    </h2>
    <span><strong>id:</strong> {{ pokemon.id }} </span>
    <span><strong>damage:</strong> {{ pokemon.damage }}</span>
    <button (click)="catchPokemon(pokemon)">
        {{ pokemon.isCaught ? 'Отпустить' : 'Поймать' }}
    </button>
</div>
