.dashboard__pokemons_item {
    padding: 20px;
    width: auto;
    height: auto;
    margin-bottom: 30px;

    button {
        margin: 0.6em auto;
        font-size: 14px;
        background-color: #90caf9;
    }
}
