* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
img {
    max-width: 100%;
}
button {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-size: 16px;
    margin: 20px auto;
    padding: 0.5em 2em;
    outline: none;

    &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }
}

.container {
    max-width: 90%;
}
