button {
    margin: 0 15px;
    font-size: 14px;
    border-radius: 0;
    box-shadow: none;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    text-align: center;

    &__input {
        display: flex;
        margin: 15px 0;
        line-height: 40px;

        input {
            margin: 0 20px 0 0;
            font-size: 14px;
            padding: 0.5em;
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    .btn-submit {
        background-color: #9ccc65;
    }

    .btn-cancel {
        background-color: #e57373;
    }
}
